version: 2
updates:
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    reviewers:
      - 'P-manBrown'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
    ignore:
      - dependency-name: 'node'
        versions: ['>=21.0']
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    reviewers:
      - 'P-manBrown'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
